extends layout
block stylesheet
    link(rel='stylesheet', href='src/styles/css/home.css')
    //link(rel='scss', href='/styles/scss/home.scss', type="text/x-scss")
block content
    main
        div(class="img-container")
            img(src="images/logoblanc.png")
        form
            div
                label(for="userName") DataBase User  
                input(class="loginInput" name="userName" type="text")
            div
                label(for="password") Password
                input(class="loginInput" name="password" type="password")
            button(id="loginButton") Login
block scripts
    script(src="scripts/login.js")
        
