@import "./main.scss";
body{
    background: $main-color;
    //width: 100%;
    display: flex;
    //flex-direction: row;
    //align-items: center;
    //justify-content: center;
    height: 100vh;
    @include centered-flex-column;
}
main{
    background: $overlay-color;
    width: 65%;
    height: 50rem;
    border: 0.1px solid $green-color-border;
    @include centered-flex-column;
    .img-container{
        width: 55%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }
    form{
        height: 25rem;
        width: 25%;
        @include space-around-flex-column;
        div{
            display: flex;
            flex-direction: column;
            width: 90%;
            label{
                font:{
                    size: $p-size;
                }
                color: $white-color;
            }
            input{
                margin-top: 5%;
                background-color: $text-input-color;
                border-radius: 5px;
                border: none;
                height: 3rem;
                font:{
                    size: $p-size;
                }
            }
        }
        button{
            width: 65%;
            height: 4rem;
            background: $green-color;
            border: none;
            border-radius: 5px;
            font:{
                size: $p-size;
            }
            color: $white-color;
        }
    }
}
